<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" productName="Zanganeh RobotsTxtHandler" >
  <assemblies>
    <add assembly="Zanganeh.RobotsTxtHandler" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/{id}">
      <defaults>
        <add key="moduleArea" value="Zanganeh.RobotsTxtHandler" />
        <add key="controller" value="" />
        <add key="action" value="" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
</module>