@model AdminViewModel

@if (Model.RobotTxts != null && Model.RobotTxts.Any())
{
    <table>
        @foreach (var robotTxt in Model.RobotTxts)
        {
            <tr>
                <td>@robotTxt.SiteId</td>
            </tr>
        }
    </table>
}

@using (Html.BeginForm())
{
    @Html.DropDownList("SelectedSite", Model.Sites)
    @Html.TextAreaFor(a => a.RobotText)

    <input type="submit" value="Submit" />
}